[submodule "workspace"]
	path = workspace
	url = https://github.com/Proximal-Environments/fetchr_fetchr-navid-test-2_workspace.git
	branch = main
[submodule "taskrunner"]
	path = taskrunner
	url = https://github.com/Proximal-Labs/taskrunner-mini.git
	branch = main
[submodule "base"]
	path = packages/base
	url = https://github.com/Proximal-Labs/base-package.git
	branch = main
